<div class="introduction_box">
    <h1 class="title">
        Los reyes de la ford
    </h1>
    <p class="mt-4 text-justify">
        Nos especializamos en atender una marca para garantizar el servicio mas profesional posible, con tencion personalizada, varios servicios como venta de repuestos, asesoria mecanica, taller, mantenimiento preventivo, escaneo computarizado, seguimiento de mantenimiento. y tambien emergencias.
        Nos caraterizamos en conseguir la pieza que necesita con un mejor precio y atencion posible.   
    </p>
</div>
