<div class="footer_box py-4">
    <div class="footer_box__content d-flex flex-column align-items-center">
        <div class="footer_box__name">
            <p>
                Todos los derechos reservados 2023.
            </p>
            <p>
                Inversiones Contelrerd, C.A
            </p>
        </div>
        <div class="footer_box__contact">
            <p class="footer_box__contact">
                Contacto
            </p>
            <p class="footer_box__number">
                0424-218-4227 / 0414-021-3651
            </p>
            <p class="footer_box__location">
                Caracas, Venezuela
            </p>
        </div>
    </div>
</div>
