<div class="location_box">
    <h6>
        Tienda fisica
    </h6>

    <div class="location_box__content mt-4">
        <p class="location_box__intro">
            Contamos con tienda fisica para su confiabilidad nos pueda visitar en horarios 
            laborables, atencion personalizada para lo que pueda requerir de nuestros servicios.
        </p>
        <div class="location_box__hours">
            <p class="title mt-4">
                Horarios:
            </p>
            <p>
                Lunes a viernes 8:00 am / 4:00 pm.
            </p>
            <p>
                Sabados 8:00 am / 12:00 pm
            </p>
            <p>
                Ubicacion: El paraiso, La vega, Centro Comercial Colonial Lv. piso 2 Local 1 
            </p>
        </div>

        <div class="location_box__map mt-5">
            <img src="assets/mapa1.png" alt="">
        </div>

        <div class="text-end mt-4">
            <button mat-raised-button color="primary">
                Contacto
            </button>
        </div>
    </div>

</div>
